<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1xbafGIOa7xPHrm0zyf-Qi-HAzUkqiH4</string>
	<key>GCM_SENDER_ID</key>
	<string>793822316630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.alihamza.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-bfef0</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-bfef0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793822316630:ios:ea3038ac064c93bc2813f7</string>
</dict>
</plist>